ul {
	margin-bottom: 0;
}
li {
	list-style-type: none;
}
#boss-daen, #boss-evendim, #boss-thorkul, #boss-server {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: .5em;
	visibility: hidden;
	min-height: 8em;
}
#boss-list {
	max-width: 600px;
	margin: 0 auto;
}
#boss-list img {
	width: 125px;
	margin-left: calc(3 * var(--default_margin_padding));
}
.boss-respawn {
	flex: 1;
	vertical-align: middle;
	margin-left: -4em;
	text-align: center;
}
@media (max-width:799px) {
	#boss-list img {
		width: 64px;
		margin-left: initial;
	}
}

