.boss-respawn ul {
	margin-bottom: 0;
	min-height: 5em;
	margin-top: .25em;
}
.boss-respawn li {
	list-style-type: none;
	line-height: 1.6em;
}
#boss-daen, #boss-evendim, #boss-thorkul, #boss-server {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: .5em;
	visibility: hidden;
	min-height: 10em;
}
#boss-container {
	max-width: 35em;
	margin: 0 auto;
}
#boss-list img {
	width: 125px;
	margin-left: calc(3 * var(--default_margin_padding));
}
.boss-respawn {
	flex: 1;
	vertical-align: middle;
	margin-left: -4em;
	text-align: center;
}
@media (max-width:512px) {
	#boss-list img {
		width: 64px;
		margin-left: initial;
	}
}

