#bz-container {
	text-align: center;
	max-width: 35em;
	margin: 0 auto;
}
#bz-container ul {
	display: inline-block;
	text-align: left;
	padding-left: 0px;
	margin-top: 0;
}
#bz-container li {
	list-style: none;
	line-height: 1.8em;
}
#bz-next {
	min-height: 12em;
	display: grid;
	place-items: center;
}
@media(max-width:799px) {
	#bz-countdown {
		min-height: 5em;
		display: grid;
		place-items: center;
	}
}
