#bz-container {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}
#bz-container ul {
	display: inline-block;
	text-align: left;
	padding-left: 0px;
	margin-top: 0;
}
#bz-container li {
	list-style: none;
}
add-to-calendar-button {
	display: inline-block;
}
