.quests-main-container {
	width: 35em;
	margin: 0 auto;
	text-align: center;
}
.quests-card {
	min-height: 6em;
}
#quests-wm, #quests-xym, #quests-tickets {
	visibility: hidden;
}
.quests-icon {
	height: 1.5em;
	vertical-align: bottom;
}
@media (max-width: 799px) {
	#main-container {
		width: 100%;
	}
}
