body > div {
	margin: 0 auto;
	max-width: 1000px;
}
body {
	background-color: #212121;
	color: white;
	font-family: sans-serif;
}
a {
	color: lightblue;
}
select, button {
	background-color: #515151;
	color: white;
	box-shadow: 0px 0px 2px 2px rgb(0,0,0);
	border: 0px;
}
#menu {
	text-align: center;
	background-color: #414141;
	padding-top: 1em;
	padding-bottom: 1em;
}
#lang {
	margin-top: .5em;
	margin-bottom: .5em;
}
h1 {
	text-align: center;
}
.bugnum {
	text-align: center;
}
.red { color: #ffa1a7; }
.blue { color: #9ccdf9; }
.green { color: #00ff11; }
.purple { color: #bd93ff; }
.faded { color: #aaaaaa; }

/* TRAINER */

.setup {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}
.version, .class, .level, .load, .save {
	display: flex;
	flex: 1;
}
#t-version, #t-class, #t-level, #t-load, #t-save {
	flex-grow: 1;
}
.points { text-align:center; visibility: hidden; }
.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
	margin-bottom: .5em;
	width: 100%;
}

.p0, .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-around;
	padding: .5em;
}
.p0 .icon { background-position: 0px 0px; }
.p1 .icon { background-position: -48px 0px;  }
.p2 .icon { background-position: -96px 0px;  }
.p3 .icon { background-position: -144px 0px;  }
.p4 .icon { background-position: -192px 0px;  }
.p5 .icon { background-position: -240px 0px;  }
.p6 .icon { background-position: -288px 0px;  }
.p7 .icon { background-position: -336px 0px;  }
.p8 .icon { background-position: -384px 0px;  }
.p9 .icon { background-position: -432px 0px;  }
.p10 .icon { background-position: -480px 0px; }
.icon {
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
}
.skillspinner { height: 48px; margin-top: 1px; }
.icon .skilllvl { background-color: white; color: black; border-radius: 4px;}
.minus, .plus { margin-left: 6px; width: 20px; height: 20px}
.plus { margin-bottom: 6px;}
#skillinfo, .t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8 {
	background-color: #313131 !important;
}
#skillinfo div[class^="p"] {
	margin: .5em;
}
#skillinfo .descriptionheader {
	grid-template-columns: 64px auto;
	justify-content: left;
	align-items: center;
}
#skillinfo h2 {
	padding: 0;
	margin: 0;
}
#skillinfo p {
	margin: .1em;
	margin-left: 1em;
}
#skillinfo p.description {
	margin: initial;
}
#skillinfo table {
	margin: 1em;
	border-collapse: collapse;
}
#skillinfo th {
	text-align: left;
	border: 1px solid white;
	padding:.25em 1em .25em 1em;
}
#skillinfo thead {
	background-color: #212121;
}
#skillinfo thead > tr > th {
	text-align: center;
	padding:.25em 1em .25em 1em;
}
#skillinfo td {
	text-align: center;
	padding:.25em 1em .25em 1em;
	border: 1px solid white;
}

/* BATTLEZONES */

#bz_container {
	text-align:center;
}
#bz_container ul {
	display: inline-block;
	text-align:left;
	list-style: square;
	margin-top: 0px;
}
#bz_container h3 {
	margin-bottom: 1em;
	margin-top: 3em;
}
#bz_container h2 {
	margin-top: 3em;
}

/* WARZONE STATUS */

#wz-container {
	display: grid;
	grid-template-areas:
		"map alsius"
		"map ignis"
		"map syrtis"
		"events events";
	align-items: center;
	justify-items: center;
	justify-content: center;
	gap: 1em;
}
@media (max-width: 800px) {
	#wz-container {
		grid-template-areas: "map" "alsius" "ignis" "syrtis" "events";
	}
	h2 {
		text-align: center;
	}
}
#wz-info {
	text-align: center;
	font-weight: bold;
}
#wz-map {
	grid-area: map;
}
#wz-map img {
	max-width: 100%;
	width: 100%;
}
.wz-icon {
	padding: 0;
	margin: 0;
	height: 1em;
	filter: brightness(125%);
}
#wz-alsius {
	grid-area: alsius;
}
#wz-ignis {
	grid-area: ignis;
}
#wz-syrtis {
	grid-area: syrtis;
}
#wz-events {
	grid-area: events;
}
#wz-events h2 {
	text-align: center;
}
