:root {
	--red: #ffa1a7;
	--blue: #9ccdf9;
	--green: #7de384;
	--purple: #bd93ff;
	--faded: #ccc;
	--ahover: #ccaaff;
	--default_margin_padding: .5em;
	--table_padding: .25em .5em;
}

/* CURSORS */

html, body, label, button {
	cursor: url('../data/cursor/normal.cur'), default;
}

label, select, button, textarea, a:hover, a:active {
	cursor: url('../data/cursor/links.cur'), default;
}

/* GLOBAL */

body {
	background-color: #212121;
	color: white;
	font-family: sans-serif, 'Noto Color Emoji';
	margin: 0 auto;
	max-width: 1600px;
	min-height: 100dvh;
	display: grid;
	grid-template-rows: 1fr auto;
}
a {
	color: lightblue;
}
a:hover {
	color: var(--ahover);
}
li {
	list-style: square;
}
select, button, textarea {
	background-color: #515151;
	color: white;
	box-shadow: 0 .1em .3em rgba(0, 0, 0, .9);
	border-radius: 3px;
	border: 0px;
}
select, button {
	padding: var(--default_margin_padding);
}
select {
	/* let us style <select> on webkit browsers */
	-webkit-appearance: none;
}
.card {
	box-shadow: 0 .1em .2em rgba(140, 140, 140, .4);
	background: #313131;
	border-radius: 5px;
	padding: var(--default_margin_padding);
	margin: var(--default_margin_padding);
}
#menu, #footer {
	text-align: center;
	background-color: #414141;
	min-height: 3em;
}
#menu-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: var(--default_margin_padding);
	line-height: 3em;
}
#menu a {
	text-decoration: none;
	border-radius: 5px;
}
#hamburger {
	display: none;
	font-weight: bold;
}
.menuitem {
	white-space: nowrap;
	border-radius: 5px;
}
#footer {
	margin-top: 2em;
}
h1 {
	text-align: center;
}
#titleinfo {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}
.red { color: var(--red); }
.blue { color: var(--blue); }
.green { color: var(--green); }
.purple { color: var(--purple); }
.faded { color: var(--faded); }
.center { text-align:center; }
.bold { font-weight: bold; }
.nodeco { text-decoration: none; }

/* TRAINER (main namespace)*/

#t-container {
	max-width: 1024px;
	margin: 0 auto;
}
.setup {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}
.version, .class, .level, .load, .save {
	display: flex;
	flex: 1;
}
#t-version, #t-class, #t-level, #t-load, #t-save {
	flex-grow: 1;
}
.points { text-align:center; visibility: hidden; }
.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	padding: var(--default_margin_padding);
	margin-bottom: var(--default_margin_padding);
}
.p0, .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10 {
	display: grid;
	grid-template-columns: auto 1fr;
	justify-content: space-around;
	padding: var(--table_padding);
}
.p0 .icon { background-position: 0px 0px; }
.p1 .icon { background-position: -48px 0px;  }
.p2 .icon { background-position: -96px 0px;  }
.p3 .icon { background-position: -144px 0px;  }
.p4 .icon { background-position: -192px 0px;  }
.p5 .icon { background-position: -240px 0px;  }
.p6 .icon { background-position: -288px 0px;  }
.p7 .icon { background-position: -336px 0px;  }
.p8 .icon { background-position: -384px 0px;  }
.p9 .icon { background-position: -432px 0px;  }
.p10 .icon { background-position: -480px 0px; }
.icon {
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	border-radius: 3px;
}
.skillspinner { height: 48px; margin-top: 1px; }
.icon .skilllvl { background-color: white; color: black; border-radius: 4px; }
.minus, .plus { display: block; margin-left: 6px; width: 20px; height: 20px; padding: 2px; }
.minus { margin-top: 6px; }
#skillinfo .descriptionheader {
	grid-template-columns: 64px auto;
	justify-content: left;
	align-items: center;
}
#skillinfo {
	visibility: hidden;
	max-width: calc(100vw - 4 * var(--default_margin_padding));
}
#skillinfo h2 {
	margin: 0;
}
#skillinfo p.description {
	margin: initial;
}
#skillinfo > p {
	margin: initial;
	margin-left: var(--default_margin_padding);
}
#skillinfo table {
	margin: var(--default_margin_padding);
	border-collapse: collapse;
	-moz-margin-start: var(--default_margin_padding);
}
#skillinfo th {
	text-align: left;
	border: 1px solid white;
	padding: var(--table_padding);
}
#skillinfo thead > tr > th:first-child {
	visibility: hidden;
	border: none;
}
#skillinfo thead {
	background-color: #212121;
}
#skillinfo thead > tr > th, #skillinfo td {
	text-align: center;
	padding: var(--table_padding);
}
#skillinfo td {
	border: 1px solid white;
}
#t-dialog {
	position: absolute;
	top: 0px;
	background: #3F3F3F;
	box-shadow: 0px 0px 2px 2px #aaa;
	border: 0px;
}
#t-dialog h3 {
	margin: var(--default_margin_padding);
	text-align: center;
	color: white;
}
#t-dialog-url {
	width: 100%;
	margin: var(--default_margin_padding) 0;
}
#t-dialog-buttons {
	text-align: right;
	font-weight: bold;
}

/* BATTLEZONES */

#bz_container {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}
#bz_container ul {
	display: inline-block;
	text-align: left;
	padding-left: 0px;
	margin-top: 0;
}
#bz_container li {
	list-style: none;
}

/* BOSSES */

#daen, #evendim, #thorkul, #server {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
	align-items: center;
	padding: var(--default_margin_padding);
	gap: .5em;
}
#bosses_list {
	max-width: 600px;
	margin: 0 auto;
	margin-top: 2em;
}
#bosses_list .respawn {
	flex: 1;
	vertical-align: middle;
	text-align: center;
}

/* WARZONE STATUS */

#wz-container {
	display: flex;
	flex-wrap: wrap;
	gap: 3em 1em;
	align-items: center;
	justify-content: space-evenly;
}
#wz-container h2 {
	margin: 0;
}
#wz-info {
	text-align: center;
	font-weight: bold;
}
#wz-map-map {
	border-radius: 8px;
	max-width: 100%;
	padding: 0;
	margin: 0;
}
.wz-icon {
	padding: 0;
	margin: 0;
	height: 1em;
	width: .75em;
}
#wz-events {
	align-self: center;
	overflow-y: scroll;
	max-height: 30em;
	min-width: 25em;
	min-height: 20em;
}
.wz-realm-header {
	font-size: 150%;
	font-weight: bold;
}
#wz-realms-info {
	align-self: center;
	min-width: 25em;
	min-height: 20em;
}
#wz-alsius, #wz-ignis, #wz-syrtis {
	display: grid;
	grid-template-areas:
		"realm forts"
		"gems forts"
		"relics forts";
	gap: 0 2em;
	min-height: 5em;
}
#wz-alsius, #wz-ignis {
	margin-bottom: 3em;
}
#wz-alsius span, #wz-ignis span, #wz-syrtis span {
	display: block;
}
#wz-container .realmname {
	grid-area: realm;
	text-align: right;
}
#wz-container .gems {
	grid-area: gems;
	text-align: right;
	min-width: max-content;
}
#wz-container .relics {
	grid-area: relics;
	text-align: right;
}
#wz-container .forts {
	grid-area: forts;
	margin-top: auto;
}


/* WZ EVENTS */
#we-container {
	width: fit-content;
	margin: 0 auto;
}
#we-info {
	text-align: center;
}
#we-select {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: stretch;
}
#we-select > div {
	display: flex;
	gap: 1em;
	align-items: center;
	flex-grow: 1;
}
#we-select label {
	font-weight: bold;
	min-width: 3em;
}
#we-select button, #we-select select {
	min-width: 4em;
	flex: 1;
}
#we-events {
	min-height: 30vw;
}
#we-prev-day {
	visibility: hidden;
}


/* WAR STATISTICS */

#ws-index-list a {
	text-decoration: none;
}
#ws-container .ws-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
	gap: 1em;
}
#ws-container .statcard {
	padding: .5em;
	flex: 1;
}
#ws-7d, #ws-30d {
	min-width: 80vw;
}
#ws-7d {
	min-height: 30em;
}
#ws-30d {
	min-height: 20em;
}
#ws-container h3 {
	text-align: center;
}
#ws-container table {
	 border-collapse: collapse;
	 margin: 0 auto;
 }
#ws-container tr {
	margin: 0px;
	border-bottom: 1px solid #717171;
}
#ws-container tr:last-child {
	border-bottom: unset;
}
#ws-container td {
	padding: .5em;
}
#ws-container td:nth-child(even) {
	padding-left: 1em;
}
.ws-chart .ct-chart-line {
	min-height: 250px;
}
.ws-chart .ct-series-a * {
	stroke: var(--blue);
}
.ws-chart .ct-series-b * {
	stroke: var(--red);
}
.ws-chart .ct-series-c * {
	stroke: var(--green);
}
.ws-chart .ct-label, .ws-chart .ct-axis {
	color: white;
}
.ws-chart .ct-label {
	margin-left: -1.4em;
}
.ws-chart .ct-label, .ws-chart .ct-grid {
	stroke: var(--faded);
}
.ws-chart {
	height: 18em;
}

/* ADAPTATIVE VIEWS */

@media (max-width: 799px) {
	.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10 {
		margin-bottom: 1em;
	}
	#menu {
		line-height: 2em;
		text-align: left;
		padding: 1em;
		min-height: 2em;
	}
	#menu, #footer {
		box-shadow: 0px 0px 2px 2px rgba(200, 200, 200, .4);
	}
	#hamburger a {
		display: inline-block;
		width: 100%;
	}
	#lang, .menuitem {
		display: block;
		font-size: 120%;
		margin-bottom: var(--default_margin_padding);
	}
	#menu-content span:nth-child(even) {
		background: #313131;
	}
	#menu-content span:nth-child(odd) {
		background: #212121;
	}
	#menu-content span {
		padding-left: var(--default_margin_padding);
	}
	.menuitem a {
		display: inline-block;
		width: calc(100vw - 6 * var(--default_margin_padding));
	}
	/* WAR STATUS */
	#wz-container {
		grid-template-areas: "map" "alsius" "ignis" "syrtis" "events";
		grid-template-columns: 1fr;
	}
	#wz-map {
		text-align: center;
		width: 90vw;
		min-height: 65vw;
	}
	#wz-events, #wz-map, #wz-realms-info {
		min-width: auto;
	}
	/* WAR STATISTICS */
	#ws-container .statcard {
		width: 100%;
	}
	#ws-7d > div {
		min-height: 30em;
		min-width: 80vw;
	}
	#ws-30d > div {
		min-height: 25em;
		min-width: 80vw;
	}
}
@media (min-width: 800px) and (max-width: 1600px) {
	#menu {
		/* CLS fix on multiline menu */
		min-height: 6em;
	}
}
@media (min-width: 800px) and (max-width: 1400px) {
	#ws-7d > div {
		min-height: 32em;
		min-width: 20vw;
	}
	#ws-30d > div {
		min-height: 25em;
		min-width: 20vw;
	}
}
@media (min-width: 800px) {
	#menu a {
		/* Make menu items appear as buttons */
		padding: var(--default_margin_padding);
		background-color: #515151;
		color: white;
		box-shadow: 0 .1em .3em rgba(0, 0, 0, .9);
		border-radius: 3px;
	}
	#menu select {
		padding: var(--default_margin_padding);
		font-size: 1em;
		text-align: center;
	}
	#menu a:hover {
		background: #313131;
		color: var(--ahover);
		box-shadow: 0 .1em .3em rgba(140, 140, 140, .4);
		transition-duration: .5s;
	}
	#wz-map-map {
		width: 500px
	}
}
