:root {
	--background: #212121;
	--card_background: #313131;
	--menu_background: #414141;
	--tooltip_background: #515151;
	--dialog_background: #3F3F3F;
	--foreground: white;
	--forms: #515151;
	--red: #ffa1a7;
	--blue: #9ccdf9;
	--green: #7de384;
	--purple: #bd93ff;
	--faded: #ccc;
	--links: lightblue;
	--ahover: #ccaaff;
	--default_margin_padding: .5em;
	--table_padding: .25em .5em;
}

/* CURSORS */

html, body, label, button {
	cursor: url('../data/cursor/normal.cur'), default;
}

label, select, button, textarea, a:hover, a:active {
	cursor: url('../data/cursor/links.cur'), default;
}

/* GLOBAL */

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: sans-serif;
	margin: 0 auto;
	max-width: 1600px;
	-webkit-max-logical-width: -webkit-fit-content;
	min-height: 100dvh;
	display: grid;
	grid-template-rows: 1fr auto;
}
a {
	color: var(--links);
}
a:hover {
	color: var(--ahover);
}
li {
	list-style: square;
}
select, button, textarea {
	background-color: var(--forms);
	color: var(--foreground);
	box-shadow: 0 .1em .3em rgba(0, 0, 0, .9);
	border-radius: 5px;
	border: 0px;
}
select, button {
	padding: var(--default_margin_padding);
}
select {
	/* let us style <select> on webkit browsers */
	-webkit-appearance: none;
}
.card {
	box-shadow: 0 .1em .2em rgba(140, 140, 140, .4);
	background: var(--card_background);
	border-radius: 5px;
	padding: var(--default_margin_padding);
	margin: var(--default_margin_padding);
}
#menu, #footer {
	text-align: center;
	background-color: var(--menu_background);
	min-height: 3em;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
}
#menu-click {
	display: none;
}
#menu-links {
	padding-left:0px;
	margin: 0px;
}
#menu-links > li {
	list-style: none;
	display: inline-block;
	margin: .2em;
	margin-bottom: .3em;
}
.menu-icon {
	height: 1em;
	width: 1em;
	display: inline-block;
	vertical-align: middle;
}
.menu-btn, #menu-lang-switch {
	color: var(--foreground);
	display: none;
	width: 100%;
}
.menuitem > a {
	background: var(--tooltip_background);
	text-decoration: none;
	color: var(--foreground);
	display: block;
	padding: var(--default_margin_padding);
	border-radius: 5px;
	box-shadow: 0 .1em .3em rgba(0, 0, 0, .9);
}
.menuitem > a:hover {
	background: var(--dialog_background);
	color: var(--ahover);
	box-shadow: 0 .1em .3em rgba(200, 200, 200, .9);
}
#menu-lang-switch:checked ~ #menu-lang-list { display: block; }
#menu-lang-switch:not(:checked) ~ #menu-lang-list { display: none; }
#menu-lang {
	background: var(--tooltip_background);
	padding: var(--default_margin_padding);
	border-radius: 5px;
	box-shadow: 0 .1em .3em rgba(0, 0, 0, .9);
	width: 8em;
}
#menu-lang-current {
	display: block;
}
#menu-lang a {
	text-decoration: none;
	display:block;
	text-align:left;
	color: var(--foreground);
	padding: var(--default_margin_padding);
	border-radius: 5px;
}
#menu-lang-list {
	margin-top: .75em;
	display: none;
	position: absolute;
	background: var(--tooltip_background);
	width: 8em;
	border-radius: 5px;
	border: 1px solid var(--foreground);
}
.langoption:hover {
	background: var(--dialog_background);
}
#footer {
	margin-top: 2em;
}
h1 {
	text-align: center;
}
#titleinfo {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}
.red { color: var(--red); }
.blue { color: var(--blue); }
.green { color: var(--green); }
.purple { color: var(--purple); }
.faded { color: var(--faded); }
.center { text-align:center; }
.bold { font-weight: bold; }
.nodeco { text-decoration: none; }

/* TRAINER (main namespace)*/

#t-container {
	max-width: 1024px;
	margin: 0 auto;
}
.setup {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}
.version, .class, .level, .load, .save {
	display: flex;
	flex: 1;
}
#t-version, #t-class, #t-level, #t-load, #t-save {
	flex-grow: 1;
}
.points { text-align:center; visibility: hidden; }
.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	padding: var(--default_margin_padding);
	margin-bottom: var(--default_margin_padding);
}
.p0, .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10 {
	display: grid;
	grid-template-columns: auto 1fr;
	justify-content: space-around;
	padding: var(--table_padding);
}
.p0 .icon { background-position: 0px 0px; }
.p1 .icon { background-position: -48px 0px;  }
.p2 .icon { background-position: -96px 0px;  }
.p3 .icon { background-position: -144px 0px;  }
.p4 .icon { background-position: -192px 0px;  }
.p5 .icon { background-position: -240px 0px;  }
.p6 .icon { background-position: -288px 0px;  }
.p7 .icon { background-position: -336px 0px;  }
.p8 .icon { background-position: -384px 0px;  }
.p9 .icon { background-position: -432px 0px;  }
.p10 .icon { background-position: -480px 0px; }
.icon {
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	border-radius: 3px;
}
.skillspinner { height: 48px; margin-top: 1px; }
.icon .skilllvl { background-color: var(--foreground); color: var(--background); border-radius: 4px; }
.minus, .plus { display: block; margin-left: 6px; width: 20px; height: 20px; padding: 2px; }
.minus { margin-top: 6px; }
.tippy-content {
	background-color: var(--tooltip_background);
	color: var(--foreground);
	border-radius: 5px;
	border: 1px solid var(--foreground);
}
.tippy-content .descriptionheader {
	grid-template-columns: 64px auto;
	justify-content: left;
	align-items: center;
}
.tippy-content h2 {
	margin: 0;
}
.tippy-content p.description {
	margin: initial;
	max-width: 30em;
}
.tippy-content > span {
	margin: var(--default_margin_padding);
}
.tippy-content table {
	margin: var(--default_margin_padding);
	border-collapse: collapse;
	table-layout: auto;
	width: calc(100% - 2 * var(--default_margin_padding));
}
.tippy-content th {
	text-align: left;
	border: 1px solid white;
	padding: var(--table_padding);
}
.tippy-content thead > tr > th:first-child {
	visibility: hidden;
	border: none;
}
.tippy-content thead {
	background-color: #212121;
}
.tippy-content thead > tr > th, .tippy-content td {
	text-align: center;
	padding: var(--table_padding);
	-webkit-hyphens: auto;
	hyphens: auto;
}
.tippy-content td {
	border: 1px solid white;
}
#t-dialog {
	position: absolute;
	top: 0px;
	background: var(--dialog_background);
	box-shadow: 0px 0px 2px 2px #aaa;
	border: 0px;
}
#t-dialog h3 {
	margin: var(--default_margin_padding);
	text-align: center;
	color: white;
}
#t-dialog-url {
	width: 100%;
	margin: var(--default_margin_padding) 0;
}
#t-dialog-buttons {
	text-align: right;
	font-weight: bold;
}

/* BATTLEZONES */

#bz-container {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}
#bz-container ul {
	display: inline-block;
	text-align: left;
	padding-left: 0px;
	margin-top: 0;
}
#bz-container li {
	list-style: none;
}

/* BOSSES */

#boss-daen, #boss-evendim, #boss-thorkul, #boss-server {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
	align-items: center;
	padding: var(--default_margin_padding);
	gap: .5em;
}
#boss-list {
	max-width: 600px;
	margin: 0 auto;
	margin-top: 2em;
}
.boss-respawn {
	flex: 1;
	vertical-align: middle;
	text-align: center;
}

/* WARZONE STATUS */

#wz-container {
	display: flex;
	flex-wrap: wrap;
	gap: 3em 1em;
	align-items: center;
	justify-content: space-evenly;
}
#wz-container h2 {
	margin: 0;
}
#wz-info {
	text-align: center;
	font-weight: bold;
}
#wz-map-map {
	border-radius: 8px;
	max-width: 100%;
	padding: 0;
	margin: 0;
}
.wz-icon {
	padding: 0;
	margin: 0;
	height: 1em;
	width: 1em;
	vertical-align: middle;
}
.wz-icon-smaller {
	height: .75em;
	width: .75em;
}
#wz-events {
	align-self: center;
	overflow-y: scroll;
	max-height: 30em;
	min-width: 25em;
	min-height: calc(500px - 2 * var(--default_margin_padding));
}
#wz-realms-info {
	align-self: center;
	min-width: 25em;
	min-height: 20em;
}
.wz-realm-header {
	display: grid;
	grid-template-areas:
		"realm forts"
		"gems forts"
		"relics forts";
	gap: 0 2em;
	min-height: 3em;
	min-width: 15em;
	align-items: center;
	font-size: 150%;
	font-weight: bold;
}
#wz-alsius, #wz-ignis {
	margin-bottom: 3em;
}
#wz-alsius, #wz-ignis, #wz-syrtis {
	min-height: 5em;
}
.wz-realmname {
	grid-area: realm;
	text-align: right;
}
.wz-gems {
	grid-area: gems;
	text-align: right;
	min-width: max-content;
}
.wz-relics {
	grid-area: relics;
	text-align: right;
}
.wz-forts {
	grid-area: forts;
	font-size: initial;
	font-weight: initial;
}


/* WZ EVENTS */

#we-container {
	width: fit-content;
	margin: 0 auto;
}
#we-info {
	text-align: center;
}
#we-select {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: stretch;
}
#we-select > div {
	display: flex;
	gap: 1em;
	align-items: center;
	flex-grow: 1;
}
#we-select label {
	font-weight: bold;
	min-width: 3em;
}
#we-select button, #we-select select {
	min-width: 4em;
	flex: 1;
}
#we-events {
	min-height: 30vw;
}
#we-prev-day {
	visibility: hidden;
}


/* WAR STATISTICS */

#ws-index-list a {
	text-decoration: none;
}
#ws-container-text .ws-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
	gap: 1em;
}
#ws-forts { grid-area: forts }
#ws-gems { grid-area: gems }
#ws-invasions { grid-area: invasions }
#ws-wishes { grid-area: wishes }
#ws-fortsheld-count { grid-area: fortsheldcount }
#ws-fortsheld-avg { grid-area: fortsheldavg }
#ws-fortsheld-total { grid-area: fortsheldtotal }
#ws-container-graphs {
	display: grid;
	gap: 1em;
	grid-template-areas:
		"forts invasions"
		"gems wishes"
		"fortsheldcount fortsheldavg"
		"fortsheldtotal fortsheldtotal";
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
}
#ws-container-graphs h3 {
	text-align: center;
	display: block;
	height: 2em;
	@media(max-width: 1300px) {
		height: 3em;
	}
}
#ws-container-text .statcard {
	padding: .5em;
	flex: 1;
}
#ws-7d, #ws-30d, #ws-90d {
	min-width: 80vw;
}
#ws-7d {
	min-height: 30em;
}
#ws-30d, #ws-90d {
	min-height: 20em;
}
#ws-container-text h3 {
	text-align: center;
}
#ws-container-text table {
	 border-collapse: collapse;
	 margin: 0 auto;
 }
#ws-container-text tr {
	margin: 0px;
	border-bottom: 1px solid #717171;
}
#ws-container-text tr:last-child {
	border-bottom: unset;
}
#ws-container-text td {
	padding: .5em;
}
#ws-container-text td:nth-child(even) {
	padding-left: 1em;
}
.ws-chart .ct-chart-line {
	min-height: 8em;
}
.ws-chart .ct-series-a * {
	stroke: var(--blue);
}
.ws-chart .ct-series-b * {
	stroke: var(--red);
}
.ws-chart .ct-series-c * {
	stroke: var(--green);
}
.ws-chart .ct-label, .ws-chart .ct-axis {
	color: var(--foreground);
}
.ws-chart-xhours .ct-label.ct-horizontal {
	margin-left: -.4em;
}
.ws-chart-bartype .ct-label.ct-horizontal {
	@media (max-width: 799px) {
		margin-left: .2em;
	}
}
.ws-chart .ct-label, .ws-chart .ct-grid {
	stroke: var(--faded);
}
.ws-chart .ct-bar {
	stroke-width: 15px;
	@media (max-width: 1600px) {
		stroke-width: 10px;
	}
}
#ws-fortsheld-total-chart .ct-bar:nth-child(1) {
	stroke: var(--blue);
}
#ws-fortsheld-total-chart .ct-bar:nth-child(2) {
	stroke: var(--red);
}
#ws-fortsheld-total-chart .ct-bar:nth-child(3) {
	stroke: var(--green);
}
#ws-fortsheld-total-chart .ct-label.ct-horizontal.ct-end {
	margin-left: -.7em;
}
.ws-chart {
	height: 15em;
}

/* ADAPTATIVE VIEWS */

@media (max-width: 799px) {
	#menu {
		line-height: 2em;
		text-align: left;
		padding: 1em;
		min-height: 2em;
	}
	#menu, #footer {
		box-shadow: 0px 0px 2px 2px rgba(200, 200, 200, .4);
	}
	#menu-links {
		width: 100%;
		transition: all 0.3s ease;
	}
	#menu-click:not(:checked) ~ header { display: none; }
	#menu-click:checked ~ header { display: block; }
	#menu-links > li {
		display: block;
	}
	.menu-btn {
		display: inline-block;
	}
	/* WAR STATUS */
	#wz-container {
		grid-template-areas: "map" "alsius" "ignis" "syrtis" "events";
		grid-template-columns: 1fr;
	}
	#wz-map {
		text-align: center;
		width: 90vw;
		min-height: 65vw;
	}
	#wz-events, #wz-map, #wz-realms-info {
		min-width: auto;
	}
	/* WAR STATISTICS */
	#ws-container-graphs {
		grid-template-areas: "forts" "invasions" "gems" "wishes" "fortsheldcount" "fortsheldavg" "fortsheldtotal" "empty";
		grid-template-columns: 1fr;
	}
	#ws-container .statcard {
		width: 100%;
	}
	#ws-7d > div {
		min-height: 30em;
		min-width: 80vw;
	}
	#ws-30d > div, #ws-90d > div {
		min-height: 25em;
		min-width: 80vw;
	}
}
@media (min-width: 800px) and (max-width: 1400px) {
	#ws-7d > div {
		min-height: 32em;
		min-width: 20vw;
	}
	#ws-30d > div, #ws-90d > div {
		min-height: 25em;
		min-width: 20vw;
	}
}
@media (min-width: 800px) {
	#wz-map-map {
		width: 500px
	}
}
