#ts-content {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
#ts-side {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: var(--default_margin_padding);
	height: max-content;
}
#ts-center {
	display: grid;
	grid-template-rows: auto 1fr;
}
#ts-side label {
	display: flex;
	align-items: center;
}
#ts-side h3 {
	text-align: center;
	background: var(--menu_background);
	margin-bottom: 0;
}
#ts-center h2 {
	text-align: center;
}
#ts-powergraph {
	margin-top: var(--default_margin_padding);
}
#ts-powergraph-graph svg, #ts-powergraph {
	background: var(--menu_background);
	min-height: 300px;
}
#ts-powergraph-graph .ct-bar {
	stroke-width: 25px;
}
#ts-powergraph-x {
	padding: var(--default_margin_padding);
	background: var(--menu_background);
	font-size: 80%;
	margin-bottom: calc(var(--default_margin_padding) * 3);
}
#ts-maingraph svg {
	min-height: 1200px;
}
.ct-label, .ct-axis {
	color: var(--foreground);
}
.ct-start {
	font-size: 12px;
}
.ct-grid {
	stroke: var(--faded);
}
.ct-series-a .ct-bar {
	stroke: var(--blue);
}
.ct-label.ct-horizontal {
	margin-left: -.3em;
}
@media(max-width: 799px) {
	#ts-content {
		grid-template-columns: 1fr;
	}
	#ts-maingraph .ct-bar {
		stroke-width: 10px;
	}
}


