#we-container {
	width: 50vh;
	margin: 0 auto;
}
#we-info {
	text-align: center;
	min-height: 3em;
}
#we-data-dump {
	font-style: italic;
}
#we-select {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: stretch;
}
#we-select > div {
	display: flex;
	gap: 1em;
	align-items: center;
	flex-grow: 1;
}
#we-select label {
	font-weight: bold;
	min-width: 3em;
}
#we-select button, #we-select select {
	min-width: 4em;
	flex: 1;
}
#we-events {
	min-height: 30vw;
}
#we-nextprev {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}
@media (max-width: 799px) {
	#we-container {
		width: 100%;
	}
}
