#wz-container {
	display: flex;
	flex-wrap: wrap;
	gap: 3em 1em;
	align-items: center;
	justify-content: space-evenly;
}
#wz-container h2 {
	margin: 0;
}
#wz-info {
	text-align: center;
	font-weight: bold;
	min-height: 2em;
}
#wz-map-map {
	border-radius: 8px;
	max-width: 100%;
	padding: 0;
	margin: 0;
	/*background-image: url(../data/warstatus/base_map.png);*/
}
.wz-icon {
	padding: 0;
	margin: 0;
	height: 1em;
	width: 1em;
	vertical-align: middle;
}
.wz-icon-smaller {
	height: .75em;
	width: .75em;
}
#wz-events {
	align-self: center;
	overflow-y: scroll;
	max-height: 30em;
	min-width: 25em;
	min-height: calc(500px - 2 * var(--default_margin_padding));
	margin-left: 0px;
}
#wz-realms-info {
	align-self: center;
	min-width: 26em;
	min-height: 20em;
}
.wz-realm-header {
	display: grid;
	grid-template-areas:
		"realm forts"
		"gems forts"
		"relics forts";
	gap: 0 2em;
	min-height: 3em;
	min-width: 15em;
	align-items: center;
	font-size: 150%;
	font-weight: bold;
}
#wz-alsius, #wz-ignis {
	margin-bottom: 3em;
}
#wz-alsius, #wz-ignis, #wz-syrtis {
	min-height: 5.5em;
	min-width: 25em;
}
.wz-realmname {
	grid-area: realm;
	text-align: right;
}
.wz-gems {
	grid-area: gems;
	text-align: right;
	min-width: max-content;
}
.wz-relics {
	grid-area: relics;
	text-align: right;
}
.wz-forts {
	grid-area: forts;
	font-size: initial;
	font-weight: initial;
	min-width: 12em;
}
@media (max-width: 799px) {
	#wz-container {
		grid-template-areas: "map" "alsius" "ignis" "syrtis" "events";
		grid-template-columns: 1fr;
		gap: 1em;
	}
	#wz-map {
		text-align: center;
		min-height: 65vw;
		margin: var(--default_margin_padding);
	}
	#wz-events, #wz-map, #wz-realms-info, #wz-alsius, #wz-ignis, #wz-syrtis {
		min-width: calc(100% - 4 * var(--default_margin_padding));
	}
	.wz-forts, .wz-realm-header {
		min-width: unset;
		gap: 1em;
	}
	#wz-events {
		margin-left: var(--default_margin_padding);
	}
}
@media (min-width: 800px) {
	#wz-map-map {
		width: 500px;
		height: 500px;
	}
}
