#wz-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	align-self: center;
	justify-content: space-evenly;
	max-width: 1600px;
	margin: 0 auto;
}
#wz-container h2 {
	margin: 0;
}
#wz-info {
	text-align: center;
	min-height: 3em;
	visibility: hidden;
}
#wz-map {
	image-rendering: auto; /* Chrome */
	image-rendering: smooth; /* FF-only */
	image-rendering: optimizeQuality; /* FF + Safari, deprecated */
	background-image: url("../data/warstatus/base_map.2.png");
	background-size: cover;
}
#wz-map-map {
	display: flex;
	border-radius: 8px;
	padding: 0;
	margin: 0;
}
.wz-icon {
	padding: 0;
	margin: 0;
	height: 1em;
	width: 1em;
	vertical-align: middle;
}
.wz-icon-smaller {
	height: .75em;
	width: .75em;
}
#wz-events {
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-self: stretch;
	justify-content: space-between;
}
#wz-realms-info {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	justify-content: space-between;
}
#wz-events-eventslist {
	margin-top: 0;
}
.wz-realm-header {
	display: grid;
	grid-template-columns: 7.5em 1fr;
	grid-template-areas:
	"realm  forts"
	"gems  forts"
	"relics  forts";
	gap: 0 1em;
	min-height: 4.5em;
	align-items: center;
	font-size: 150%;
	font-weight: bold;
}
.wz-realmname {
	grid-area: realm;
	text-align: right;
}
.wz-gems {
	grid-area: gems;
	display: flex;
	justify-content: flex-end;
	gap: 0.25em;
}
.wz-relics {
	grid-area: relics;
	display: flex;
	justify-content: flex-end;
	gap: 0.25em;
}
.wz-forts {
	grid-area: forts;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	padding-left: 1em;
	font-size: initial;
	font-weight: initial;

}
.wz-forts span[id^="wz-forts-"] {
	display: block;
}

.wz-data-stale {
	filter: grayscale(85%);
	transition: filter 1s ease;
}


@media (min-width: 1450px) {
	#wz-container {
		gap: 3em 1em;
	}
	#wz-map-map {
		height: 500px;
		width: 500px;
	}
	#wz-events {
		height: 500px;
		width: 30em;
	}
	#wz-realms-info {
		min-height: 20em;
		min-width: 20em;
	}
	#wz-alsius, #wz-ignis {
		margin-bottom: 3em;
	}
	#wz-alsius, #wz-ignis, #wz-syrtis {
		min-height: 5.5em;
	}
}

@media (min-width: 512px) and  (max-width: 1450px) {
	.wz-realm-header {
		min-height: 3em;
	}
	#wz-map {
		padding: 0px;
		/* XXX hide some margin issue leaving 4 px left at the bottom */
		background-color: unset;
	}
	#wz-map-map, #wz-map {
		width: 350px;
		height: 350px;
	}
	#wz-events {
		height: 350px;
	}
	#wz-container {
		gap: 0;
		justify-content: space-around;
	}
}

@media (min-width: 512px) and (max-width: 1279px) {
	#wz-realms-info {
		width: fit-content;
		min-width: 16em;
	}
	.wz-realm-header {
		gap: 0;
	}
	#wz-map-map, #wz-map {
		width: 250px;
		height: 250px;
		align-self: center;
	}
	#wz-realms-info {
		font-size: 90%;
	}
}

@media(max-width: 512px) {
	#wz-map {
		text-align: center;
		width: 100%;
		margin-bottom: 1em;
	}
	#wz-map-map {
		width: 100%;
	}
	#wz-events {
		height: 50vh;
		margin-top: 1em;
		font-size: 90%;
		width: 100%;
	}
	#wz-realms-info {
		min-width: unset;
		width: 100%;
		display: block;
	}
	#wz-alsius, #wz-ignis, #wz-syrtis {
		min-height: 6.5em;
		display: grid;
	}
	#wz-alsius, #wz-ignis {
		margin-bottom: var(--default_margin_padding);
	}
	.wz-realm-header {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		"realm forts"
		"gems forts"
		"relics forts";
		gap: calc(var(--default_margin_padding) / 2);
		justify-items: center;
		justify-content: center;
		align-items: center;
	}
	[id^="wz-forts-"] {
		font-size: 95%;
	}
	.wz-gems, .wz-relics {
		gap: 0;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
	}
}
